<%- include('includes/head'); %>

    <div class="container col-6 py-5">
        <div class="card-header text-center">
            <h4>Cargos cadastrados</h4>
            <%- include('includes/messages'); %>
        </div>
        <table class="table">
            <% cargos.forEach(cargo=> {%>
                <tr>
                    <td>
                        <%= cargo.nome %>
                    </td>
                    <td><a class="text-primary" href="/cargo/edit/<%= cargo._id %>">Editar</a></td>
                    <td><a class="text-danger" href="/cargo/delete/<%= cargo._id %>">Excluir</a></td>
                </tr>
                <% }) %>
        </table>
        <a class="btn btn-primary" href="/cargo/index" role="button">Cadastrar</a>
        <a class="btn btn-light" href="/cargo/cargo-pdf" role="button">Imprimir</a>
        <a class="btn btn-secondary" href="/" role="button">Voltar</a>
    </div>

    <%- include('includes/footer'); %>